body {
    background-color: #FFF6BD;
}
hr{
    
    height: 0px;
    border-style: none;
    border-width: 5px;
    border-color: grey;
    width: 5%;
    border-style: dotted none none;
}
h2{
    color: #52734D;
}
h1{
    color: #52734D;
}
h3{
    color: #52734D;
}
.hobbies{
color: aqua;
}